{% extends "layout.html" %}
{% block title %}UWI Research Platform{% endblock %}
{% block page %}UWI Research Platform{% endblock %}

{{ super() }}

{% block content %}

    <main style="padding: 1em" class="row">
        <section class="col s12 m8">
            <h1 class="center">Publications</h1>
            <section class="row" style="overflow-y: scroll; height:82vh">

                {% for publication in publications %}
                <ul class="collection hoverable">
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <a href="/publication/{{publication.id}}"><span class="title">{{publication.name}}</span></a>
                        <p><a href="/author/{{publication.author}}">{{publication.Author.fname}} {{publication.Author.lname}}</a><br> {{publication.content}} </p>
                    </li>
                </ul>
                {% endfor %}

            </section>
        </section>
        <section class="col s12 m4">
            <section class="row" style="overflow-y: scroll; height:82vh">

                <h1 class="center">Authors</h1>

                <ul class="collection">
                    {% for author in authors %}
                    <a href="/author/{{author.id}}" class="collection-item">{{author.fname}} {{author.lname}}</a>
                    {% endfor %}
                </ul>

            </section>
        </section>
    </main>
      
{% endblock %}