{% extends "layout.html" %}
{% block title %} {{ publication.name }} | UWI Research Platform{% endblock %}
{% block page %}UWI Research Platform{% endblock %}

{{ super() }}

{% block content %}

    <h3> {{ publication.name }} </h3>
    <h5>Author: <a href="/author/{{publication.author}}"> {{ publication.Author.fname }} {{ publication.Author.lname }} </a></h5>

    <h5>Co-Authors: </h5>

    <h5>Content: {{ publication.content }} </h5>
    <h5>Citation: {{ publication.citation }} </h5>
     
{% endblock %}