{% extends "layout.html" %}
{% block title %} {{ publication.name }} | UWI Research Platform{% endblock %}
{% block page %}UWI Research Platform{% endblock %}

{{ super() }}

{% block content %}

    <h3> {{ publication.name }} </h3>
    <h5>Author: <a href="/author/{{author.id}}"> {{ author.fname }} {{ author.lname }}</a> </h5>
    <h5>Co-Authors: 
        {% for author in publication.authors %}
        <a href="/author/{{author.id}}"> {{ author.fname }} {{ author.lname }}</a>, 
        {% endfor %}
    </h5>

    <h5>Content: {{ publication.content }} </h5>
    <h5>Citation: {{ publication.citation }} </h5>
     
{% endblock %}